@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */
body {
  padding-top: 100px;
}
#logo {
  font-size: 2em;
  font-weight: bold;
}

.nav-link {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  background-color: #333;
  border-radius: 0;
}

.navbar-brand {
  color: #fff !important;
}

.nav > li > a {
  color: #fff !important;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: #555;
}

.navbar-toggle {
  border-color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}
