<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render(@list_abc) || "No Products" %>
  </tbody>
</table>

<br>

<%= link_to "New product", new_product_path %>
